# Byte-compiled / optimized / DLL files
.env
__pycache__/
*.py[cod]
*$py.class

# ignore env files
.env

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ignore local Terraform files
terraform.tfstate
terraform.tfstate.backup
.terraform/

# Local folders to ignore
text_model
/Llama-3.2-1B
/Llama-3.2-3B
/files
/embedding_model
volumes
*.txt
update_db_old.py

# Except requirements.txt
!requirements.txt
!stop_words.txt
!file_list.txt
logs
/file_list.txt
/all-MiniLM-L6-v2
