fastapi==0.115.6
huggingface_hub==0.27.0
langdetect==1.0.9
nltk==3.8.1
pdfplumber==0.11.4
pymilvus==2.5.0
python-dotenv==1.0.1
python_box==6.0.2
#torch==2.5.1
#torch_xla==2.5.1
tqdm==4.67.1
transformers==4.45.2
uvicorn==0.34.0
watchfiles==1.0.3
bitsandbytes==0.45.0
accelerate==1.2.1
